<div class="container">
    <h2>Science Questions</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let quiz of quizzes | async">
                <td>{{quiz.questionNo}}</td>
                <td>{{quiz.question}}</td>
                <td>
                    <button (click)="quizDetails(quiz._id)" class="btn btn-outline-success">View</button>
                    <button (click)="updateQuiz(quiz.id)" class="btn btn-outline-warning">Edit</button>
                    <button (click)="deleteQuiz(quiz._id)" class="btn btn-outline-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>